.flex-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 1px solid rgba(0,0,0,.125);
    background-color: #fff;
    margin-bottom: 2.5%;
    width: 75%;
}

.productImage{
    width: 50%;
}
.LapImage{
    width: 95%;
}
.productDetails{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
}
.test{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: fit-content;
    width: fit-content;
}

.ProdName{
    margin-top: 10%;
    margin-bottom: 10%;
}

.addToCartBtn{
     width: 100%;
     margin-top: 12%;
}