<div class="row">
    <!-- <div class="col-md-3">
        <app-cart-list></app-cart-list>
    </div> -->
    <div class="col-md-7">
        <div class="mt-3"></div>
        <form #orderForm="ngForm" class="row g-3 checkoutForm">
            <div class="col-md-6">
                <label for="inputFirstName" class="form-label">First Name*</label>
                <input required [(ngModel)]="orderDetail.firstName" name="firstName" 
                #firstName="ngModel" type="text" class="form-control" id="inputFirstName">
                <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">First Name is required!!</div>
            </div>
        
            <div class="col-md-6">
                <label for="inputLastName" class="form-label">Last Name*</label>
                <input type="text" required [(ngModel)]="orderDetail.lastName" name="lastName" 
                #lastNameEntered="ngModel" class="form-control" id="inputLastName">
                <div class="alert alert-danger" *ngIf="lastNameEntered.touched && !lastNameEntered.valid">Last Name is required!!</div>
            </div>
        
            <div class="col-12">
                <label for="inputEmail" class="form-label">Email*</label>
                <input type="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" 
                [(ngModel)]="orderDetail.email" name="email" #emailEntered="ngModel" class="form-control" id="inputEmail" placeholder="you@example.com">
                <div class="alert alert-danger" *ngIf="emailEntered.touched && !emailEntered.valid">
                    <div *ngIf="emailEntered.errors?.required">Email is required</div>
                    <div *ngIf="emailEntered.errors?.pattern">Please enter valid email!!</div>
                    <div></div>
                </div>
            </div>
        
            <div class="col-12">
                <label for="inputAddress" class="form-label">Address*</label>
                <input type="text" required [(ngModel)]="orderDetail.address" name="address" #addressEntered="ngModel" 
                class="form-control" id="inputAddress" placeholder="1234 Main St">
                <div class="alert alert-danger" *ngIf="addressEntered.touched && !addressEntered.valid">Address is required!!</div>
            </div>
        
            <div class="col-12">
                <label for="inputAddress2" class="form-label">Address 2 (optional)</label>
                <input type="text" [(ngModel)]="orderDetail.address2" name="address2" #address2Entered="ngModel" 
                 class="form-control" id="inputAddress2" placeholder="Apartment or suite">
            </div>
        
            <div class="col-md-4">
                <label for="inputCountry" class="form-label">Country*</label>
                <select id="inputCountry" required [(ngModel)]="orderDetail.country" 
                name="countrySelected" #countrySelected="ngModel" class="form-select">
                <option value="null" disabled *ngIf="orderDetail.country==null">Choose Country</option>
                <option *ngFor="let country of countries">{{country}}</option>
                </select>
                <div class="alert alert-danger" *ngIf="countrySelected.touched && orderDetail.country == null">Country is required!!</div>
            </div>
        
            <div class="col-md-4">
                <label for="inputState" class="form-label">State*</label>
                <select id="inputState" required [(ngModel)]="orderDetail.state" 
                name="stateSelected" #stateSelected="ngModel" class="form-select">
                <option value="null" disabled *ngIf="orderDetail.state==null">Choose State</option>
                <option *ngFor="let state of states">{{state}}</option>
                </select>
                <div class="alert alert-danger" *ngIf="stateSelected.touched && orderDetail.state == null">State is required!!</div>
            </div>
        
            <div class="col-md-2">
                <label for="inputZip" class="form-label">Zip*</label>
                <input type="text" required pattern="[0-9]{1,100}" 
                [(ngModel)]="orderDetail.zip" name="zipEntered" #zipEntered="ngModel" class="form-control" id="inputZip">
                <div class="alert alert-danger" *ngIf="zipEntered.touched && !zipEntered.valid">
                    <div *ngIf="zipEntered.errors?.required">Zip is required!!</div>
                    <div *ngIf="zipEntered.errors?.pattern">Zip should be in numbers only!!</div>
                    <div></div>
                </div>
            </div>
            <div class="col-12">
                <button type="submit" [disabled]="!orderForm.valid" class="btn btn-primary placeOrderBtn" (click)="placeOrder(orderDetail)">Place Order</button>
            </div>
        </form>
    
    </div>
</div>