.price-flt{
    border: 2px solid white;
    font-size: large;
    padding: 1vh;
    font-size: medium;
    font-weight: 600;
    text-align: left;
    border-radius: 1vh;
}

.expand-filter{
    float: right;
}

.filter{
    margin-bottom: 1.5vh;
}