<div class="card shadow-sm product-item">
    <img class="bd-placeholder-img card-img-top" height="380vh" [src]="productItem.imageUrl.length > 0 ? productItem.imageUrl : DEFAULT_IMG" [alt]="productItem.imageUrl.length > 0 ? productItem.imageUrl : DEFAULT_ALT_TEXT"/>

    <div class="card-body">
        <h2>{{productItem.name}}</h2>
        <p class="category-name">({{productItem.categoryName}})</p>
        <p class="card-text">{{ productItem.description }}</p> 
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-secondary right-mgn" (click)="getProductDesc(productItem.id)">View Details</button>
                <button type="button" class="btn btn-sm btn-primary right-mgn" (click)="handleAddToCart()">Add to Cart</button>
            </div>
            <small class="text-muted"><strong>{{ productItem.price | currency:'INR'}}</strong></small>
        </div>
    </div>
</div>
