.searchNav{
    display:flex;
    justify-content: right;
    margin-right: 20px;
}

.search{
    border-radius: 10rem 0 0 10rem;
    border: none;
    height: 3rem;
    width: 18rem;
    background-color: #f1f1f1;
    padding:1.2rem;
    margin-right: 6px;
    font-weight: 500;
}

.searchButton {
    color:white;
    border: none;
    height: 3rem;
    width: 5rem;
    font-size: 1rem;
    border-radius: 0 10rem 10rem 0;
    background-color: red;
    opacity: .8;
    outline: none;
}

.searchButton:hover{
    opacity: 1;
    cursor: pointer;
}