<div class="card card-headers col-6">
    <div class="card-header">
        <strong>Cart Items</strong>
    </div>
    <div class="card-body" >
        <div *ngIf="cartList.length == 0" class="alert alert-info">No Items Added!</div>
    </div>
    <div class="card-body" *ngIf="cartList.length > 0">
        <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white" *ngIf="cartList.length > 0">           
            <div class="list-group list-group-flush border-bottom scrollarea" *ngFor="let item of cartList" >
                <app-cart-item [cartItem]="item"></app-cart-item>
            </div>
            <a href="#" class="list-group-item list-group-item-action active py-3 lh-tight" aria-current="true">
                <div class="d-flex w-100 align-items-center justify-content-between">
                  <strong class="mb-1">Total</strong>
                  <small>Qty : {{ qtyTotal }}</small>
                </div>
                <div class="col-10 mb-1 small">
                    <strong>{{cartTotal | currency:'INR'}}</strong>
                </div>
              </a>
        </div>
    </div>
    <button type="button" class="btn btn-sm btn-primary right-mgn checkout-btn" [disabled]="isCartEmpty" (click)="proceedToCheckout()">Proceed to checkout</button>
</div>