.clear-changes{
    border: 1px solid black;
    float: right;
    margin-left: 4%;
    font-weight: 600;
    border-radius: 0.8vh;
}

.apply-changes{
    float: right;
    margin-left: 1vh;
    font-weight: 600;
    border-radius: 0.8vh;
    max-width: 48%;
}