/* You can add global styles to this file, and also import other style files */
.card-headers .card-header{
    font-size: large;
    background: darkgrey;
}

.cart-item{
    font-size: small;
}

.product-item
{
    padding-bottom: 10px;
    min-height: 84vh;
    max-height: 84vh;
}